.main-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;

  .image-container {
    width: 100%;
    max-height: 600px;
    display: block;
    overflow: hidden;
    img {
      object-fit: contain;
      width: 100%;
    }

  }

  .col-6 {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin-left: -1.5px;
    margin-right: -1.5px;
    position: relative;
  }

  .col-12 {
    width: 100%;
    display: inline-block;
    position: relative;
  }
}

article {
  text-align: center;
  margin-bottom: 72px;

  h1 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 23px;
    font-family: "SamsungSharpSans";
  }

  h3 {
    font-size: 17px;
    margin-bottom: 23px;
  }

  h4 {
    color: #81E6FE;
    font-size: 14px;
  }
}

form.form-container {
  max-width: 843px;
  margin: 0 auto;

  label {

    font-family: "SamsungOne";
    font-size: 18px;

    &.color-blue {
      color: #81E6FE;
    }
      &.error {
        position: absolute;
        left: 0;
        bottom: -22px;
        color: red;
        font-size: 14px;
        font-weight: bold;
      }
  }

  .input-group {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 47px;

    .label-input {
      position: absolute;
      bottom: 12px;
      transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000);

      &.active-label-input {
        position: absolute;
        bottom: 40px;
        font-size: 14px;

      }
    }

    input,
    label {
      width: 100%;

    }
  }

  button[type="submit"] {
    background: transparent;
    border: 2px solid #fff;
    height: 41px;
    border-radius: 2px;
    text-transform: uppercase;
    color: #fff;
    padding: 0 20px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    margin: 0 auto;
    display: inline-block;

    &:hover {
      background: #fff;
      color: #000;
    }
  }
}

.p-r {
  padding-right: 18px;
}

.p-l {
  padding-left: 18px;
}

.mb-2 {
  margin-bottom: 20px;
}

.form-button-group {
  text-align: center;
  padding: 80px 0;
}


.checker {
  position: relative;
  margin-right: 10px;
  height: 20px;
  width: 20px;
  border: 1px solid #fff;
  display: inline-block;
  vertical-align: middle;

}


@media only screen and (max-width: 600px) {
  .main-container {
    h1, h3, h4 {
      padding: 0 20px;
    }
    form {
      padding: 0 20px;
      .col-6 {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}
